# Configuration

In [28]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(font_scale=1.25,rc={"lines.linewidth": 2})
sns.set_style("white")

In [29]:
save_path = './case_studies/case1_results/'

config = {'NETWORK_PATH':'/tmp/tmp.t97Pt7Cago/tests/scenarios/case1/',
'OD_PATH' :'/tmp/tmp.t97Pt7Cago/tests/scenarios/case1/od.csv',
'START':'0',
'END':'300',
'SHOW_BENCHMARKS':'false',
"SAVE_INTERVAL": '10',
'SAVE_PATH':save_path}

## Prepare Uniform Time Spaced ODs

In [30]:
def uniform_od(o,d,start,interval,duration):
    num_agents = int(duration / interval)+1
    origins = [o]*num_agents
    dests = [d]*num_agents
    dep_time = np.linspace(start,start+duration,num_agents)
    
    df = {'origin':origins,
         'destination':dests,
         'dep_time':dep_time}
    
    return pd.DataFrame.from_dict(df)


def write_config_file(path, config):
    file_path = path + 'command_line_options.ini'
    with open(file_path, 'w') as f:
        f.write('[General]\n')
    
    
    with open(file_path, 'a') as the_file:
        for k,v in config.items():
            line = k + '=' + v +'\n'
            the_file.write(line)
    print ('write to ' + file_path)

In [31]:
o = 0
d = 2
start = 0 
interval = 1 #every 1 second
duration = 60
od = uniform_od(o,d,start,interval,duration)
od.to_csv(config['OD_PATH'])

In [32]:
write_config_file('./',config)

write to ./command_line_options.ini

## Test uniform distributed OD

In [47]:
def read_agent_file(save_path,time):
    agent_file = save_path+'agents_data_'+str(time)+'.csv'
    df = pd.read_csv(agent_file)
    return df

def read_edge_file(save_path,time):
    edge_file = save_path+'edge_data_'+str(time)+'.csv'
    df = pd.read_csv(edge_file)
    return df
    
def get_mean_speed():
    people_df = read_people_file(config['SAVE_PATH'])
    return people_df['avg_v(m/s)'].mean()
   

def mile2ms(mile):
    return 1.60934*mile*1000/3600

## Sparsely distributed agents

In [53]:
o = 0
d = 4
start = 0 
duration = 100
interval = 10
od = uniform_od(o,d,start,interval,duration)
od.to_csv(config['OD_PATH'])

!'/tmp/tmp.t97Pt7Cago/cmake-build-debug-office_server/microsim'

reading graph osm
total edges = 6
# of edges: 12
# of vertices: 5
Generating contraction hierarchies with 16 threads.
Setting CH node vector of size 5
Setting CH edge vector of size 12
Range graph removed 12 edges of 24
. 10% . 20% . 30% . 40% . 50% . 60% . 70% . 80%  100%
. 90% . 100% [TIME] Started: <Microsimulation_in_GPU>.
Traffic person vec size = 11
EdgesData size = 24
LaneMap size = 49152
Intersections size = 5
GPU memory usage: used = 505, free = 10511 MB, total = 11016 MB
Running trafficSimulation with the following configuration:
>  Number of people: 11
>  Number of blocks: 1
>  Number of threads per block: 384
Running main loop from 0 to 0.0833333 with 11person...
>>Simulation Ended

In [54]:
# at time 10
agent_df = read_agent_file(config['SAVE_PATH'],10)
agent_df.head()

,aid,ori,dest,type,status,travel_dist(m),travel_time(s),ave_speed(m/s),num_slowdown,num_lane_change,num_in_queue
0,0,0,4,0,1,25.1343,9.5,2.78494,0,0,0
1,1,0,4,0,0,0.0000,0.0,NaN,0,0,0
2,2,0,4,0,0,0.0000,0.0,NaN,0,0,0
3,3,0,4,0,0,0.0000,0.0,NaN,0,0,0
4,4,0,4,0,0,0.0000,0.0,NaN,0,0,0

In [55]:
# at time 10
edge_df = read_edge_file(config['SAVE_PATH'],10)
edge_df

    eid  u  v  upstream_count  downstream_count  average_travel_time(s)
0     0  0  2               0                 0                      -1
1     4  0  3               1                 0                      -1
2     2  1  2               0                 0                      -1
3     1  2  0               0                 0                      -1
4     3  2  1               0                 0                      -1
5     6  2  3               0                 0                      -1
6     8  2  4               0                 0                      -1
7     5  3  0               0                 0                      -1
8     7  3  2               0                 0                      -1
9    10  3  4               0                 0                      -1
10    9  4  2               0                 0                      -1
11   11  4  3               0                 0                      -1

In [56]:
# at time 300
agent_df = read_agent_file(config['SAVE_PATH'],300)
agent_df.head(20)

,aid,ori,dest,type,status,travel_dist(m),travel_time(s),ave_speed(m/s),num_slowdown,num_lane_change,num_in_queue
0,0,0,4,0,2,3022.01,214.5,14.1164,0,0,0
1,1,0,4,0,2,3022.01,214.5,14.1164,0,0,0
2,2,0,4,0,2,3022.01,214.5,14.1164,0,0,0
3,3,0,4,0,2,3022.01,214.5,14.1164,0,0,0
4,4,0,4,0,2,3022.01,214.5,14.1164,0,0,0
5,5,0,4,0,2,3022.01,214.5,14.1164,0,0,0
6,6,0,4,0,2,3022.01,214.5,14.1164,0,0,0
7,7,0,4,0,2,3022.01,214.5,14.1164,0,0,0
8,8,0,4,0,2,3022.01,214.5,14.1164,0,0,0
9,9,0,4,0,1,2981.78,211.5,14.1264,0,0,0
10,10,0,4,0,1,2847.67,201.5,14.1619,0,0,0

In [57]:
# at time 300
edge_df = read_edge_file(config['SAVE_PATH'],300)
edge_df

    eid  u  v  upstream_count  downstream_count  average_travel_time(s)
0     0  0  2               0                 0                    -1.0
1     4  0  3              11                11                    64.0
2     2  1  2               0                 0                    -1.0
3     1  2  0               0                 0                    -1.0
4     3  2  1               0                 0                    -1.0
5     6  2  3               0                 0                    -1.0
6     8  2  4              11                 9                    89.0
7     5  3  0               0                 0                    -1.0
8     7  3  2              11                11                    61.5
9    10  3  4               0                 0                    -1.0
10    9  4  2               0                 0                    -1.0
11   11  4  3               0                 0                    -1.0

## Densely distributed agents

In [58]:
o = 0
d = 4
start = 0 
duration = 100
interval = 1
od = uniform_od(o,d,start,interval,duration)
od.to_csv(config['OD_PATH'])

!'/tmp/tmp.t97Pt7Cago/cmake-build-debug-office_server/microsim'

reading graph osm
total edges = 6
# of edges: 12
# of vertices: 5
Generating contraction hierarchies with 16 threads.
Setting CH node vector of size 5
Setting CH edge vector of size 12
Range graph removed 12 edges of 24
. 10% . 20% . 30% . 40% . 50% . 60% . 70% . 80%  100%
. 90% . 100% [TIME] Started: <Microsimulation_in_GPU>.
Traffic person vec size = 101
EdgesData size = 24
LaneMap size = 49152
Intersections size = 5
GPU memory usage: used = 504, free = 10512 MB, total = 11016 MB
Running trafficSimulation with the following configuration:
>  Number of people: 101
>  Number of blocks: 1
>  Number of threads per block: 384
Running main loop from 0 to 0.0833333 with 101person...
>>Simulation Ended

In [59]:
# at time 10
agent_df = read_agent_file(config['SAVE_PATH'],10)
agent_df.head()

,aid,ori,dest,type,status,travel_dist(m),travel_time(s),ave_speed(m/s),num_slowdown,num_lane_change,num_in_queue
0,0,0,4,0,1,25.13430,9.5,2.78494,0,0,0
1,1,0,4,0,1,20.12200,8.5,2.50653,0,0,0
2,2,0,4,0,1,15.66630,7.5,2.22808,0,0,0
3,3,0,4,0,1,11.76730,6.5,1.94960,0,0,0
4,4,0,4,0,1,8.42517,5.5,1.67111,0,0,0

In [60]:
# at time 10
edge_df = read_edge_file(config['SAVE_PATH'],10)
edge_df

    eid  u  v  upstream_count  downstream_count  average_travel_time(s)
0     0  0  2               0                 0                      -1
1     4  0  3              10                 0                      -1
2     2  1  2               0                 0                      -1
3     1  2  0               0                 0                      -1
4     3  2  1               0                 0                      -1
5     6  2  3               0                 0                      -1
6     8  2  4               0                 0                      -1
7     5  3  0               0                 0                      -1
8     7  3  2               0                 0                      -1
9    10  3  4               0                 0                      -1
10    9  4  2               0                 0                      -1
11   11  4  3               0                 0                      -1

In [61]:
# at time 300
agent_df = read_agent_file(config['SAVE_PATH'],300)
agent_df.head(20)

,aid,ori,dest,type,status,travel_dist(m),travel_time(s),ave_speed(m/s),num_slowdown,num_lane_change,num_in_queue
0,0,0,4,0,2,3022.01,214.5,14.1164,0,0,0
1,1,0,4,0,2,3022.01,215.0,14.0836,0,0,1
2,2,0,4,0,2,3022.01,215.0,14.0836,0,0,1
3,3,0,4,0,2,3022.01,215.0,14.0836,0,0,1
4,4,0,4,0,2,3022.01,215.0,14.0836,0,0,1
5,5,0,4,0,2,3018.30,216.0,13.9873,0,0,3
6,6,0,4,0,2,3004.20,216.0,13.9218,1,0,2
7,7,0,4,0,2,3018.30,215.5,14.0198,0,1,2
8,8,0,4,0,2,3022.01,215.0,14.0836,0,0,0
9,9,0,4,0,2,3018.30,215.5,14.0198,0,0,2
10,10,0,4,0,2,3022.01,214.5,14.1164,0,0,0
11,11,0,4,0,2,3022.01,214.5,14.1164,0,0,0
12,12,0,4,0,2,3022.01,214.5,14.1164,0,0,0
13,13,0,4,0,2,3022.01,214.5,14.1164,0,0,0
14,14,0,4,0,2,3022.01,214.5,14.1164,0,0,0
15,15,0,4,0,2,3022.01,214.5,14.1164,0,0,0
16,16,0,4,0,2,3022.01,215.5,14.0509,0,0,2
17,17,0,4,0,2,3005.00,216.5,13.8794,0,0,4
18,18,0,4,0,2,3022.01,215.0,14.0836,0,1,1
19,19,0,4,0,2,3022.01,215.0,14.0836,0,0,1

In [62]:
# at time 300
edge_df = read_edge_file(config['SAVE_PATH'],300)
edge_df

    eid  u  v  upstream_count  downstream_count  average_travel_time(s)
0     0  0  2               0                 0                    -1.0
1     4  0  3             101               101                    64.0
2     2  1  2               0                 0                    -1.0
3     1  2  0               0                 0                    -1.0
4     3  2  1               0                 0                    -1.0
5     6  2  3               0                 0                    -1.0
6     8  2  4             101                87                    89.0
7     5  3  0               0                 0                    -1.0
8     7  3  2             101               101                    61.5
9    10  3  4               0                 0                    -1.0
10    9  4  2               0                 0                    -1.0
11   11  4  3               0                 0                    -1.0

## Mixed OD

### Same od but opposite directions

In [63]:
def mixed_od(os,ds,start,interval,duration):
    num_agents = int(duration / interval)+1
    origins,dests,dep_time = [], [], []
    curr_time = start 
    for i in range(num_agents):
        o = os.pop(0)
        origins.append(o)
        os.append(o)
        
        d = ds.pop(0)
        ds.append(d)
        dests.append(d)
        
        dep_time.append(curr_time)
        if i % 2:
            curr_time += interval
        
#     dep_time = np.linspace(start,start+duration,num_agents)
    df = {'origin':origins,
         'destination':dests,
         'dep_time':dep_time}
    
    return pd.DataFrame.from_dict(df)

In [83]:
os = [0,4]
ds = [4,0]
start = 0 
duration = 100 
interval = 2
od = mixed_od(os,ds,start,interval,duration)
od.to_csv(config['OD_PATH'])

!'/tmp/tmp.t97Pt7Cago/cmake-build-debug-office_server/microsim'

reading graph osm
total edges = 6
# of edges: 12
# of vertices: 5
Generating contraction hierarchies with 16 threads.
Setting CH node vector of size 5
Setting CH edge vector of size 12
Range graph removed 12 edges of 24
. 10% . 20% . 30% . 40% . 50% . 60% . 70% . 80%  100%
. 90% . 100% [TIME] Started: <Microsimulation_in_GPU>.
Traffic person vec size = 51
EdgesData size = 24
LaneMap size = 49152
Intersections size = 5
GPU memory usage: used = 505, free = 10512 MB, total = 11016 MB
Running trafficSimulation with the following configuration:
>  Number of people: 51
>  Number of blocks: 1
>  Number of threads per block: 384
Running main loop from 0 to 0.0833333 with 51person...
>>Simulation Ended

In [84]:
# at time 10
agent_df = read_agent_file(config['SAVE_PATH'],10)
agent_df.head()

,aid,ori,dest,type,status,travel_dist(m),travel_time(s),ave_speed(m/s),num_slowdown,num_lane_change,num_in_queue
0,0,0,4,0,1,25.13430,9.5,2.78494,0,0,0
1,1,4,0,0,1,25.10190,9.5,2.78098,0,0,0
2,2,0,4,0,1,15.66630,7.5,2.22808,0,0,0
3,3,4,0,0,1,15.65870,7.5,2.22687,0,0,0
4,4,0,4,0,1,8.42517,5.5,1.67111,0,0,0

In [85]:
# at time 10
edge_df = read_edge_file(config['SAVE_PATH'],10)
edge_df

    eid  u  v  upstream_count  downstream_count  average_travel_time(s)
0     0  0  2               0                 0                      -1
1     4  0  3               5                 0                      -1
2     2  1  2               0                 0                      -1
3     1  2  0               0                 0                      -1
4     3  2  1               0                 0                      -1
5     6  2  3               0                 0                      -1
6     8  2  4               0                 0                      -1
7     5  3  0               0                 0                      -1
8     7  3  2               0                 0                      -1
9    10  3  4               0                 0                      -1
10    9  4  2               5                 0                      -1
11   11  4  3               0                 0                      -1

In [86]:
# at time 300
agent_df = read_agent_file(config['SAVE_PATH'],300)
agent_df.head(20)

,aid,ori,dest,type,status,travel_dist(m),travel_time(s),ave_speed(m/s),num_slowdown,num_lane_change,num_in_queue
0,0,0,4,0,2,3022.01,214.5,14.1164,0,0,0
1,1,4,0,0,2,3028.72,215.0,14.1148,0,0,0
2,2,0,4,0,2,3022.01,215.5,14.0509,0,0,2
3,3,4,0,0,2,3028.72,215.0,14.1148,0,0,0
4,4,0,4,0,2,3022.01,214.5,14.1164,0,0,0
5,5,4,0,0,2,3028.72,215.5,14.0820,0,0,1
6,6,0,4,0,2,3022.01,215.5,14.0509,0,0,2
7,7,4,0,0,2,3028.72,216.0,14.0494,0,0,2
8,8,0,4,0,2,3022.01,214.5,14.1164,0,0,0
9,9,4,0,0,2,3028.72,215.5,14.0820,0,0,1
10,10,0,4,0,2,3022.01,216.0,14.0184,0,0,3
11,11,4,0,0,2,3028.72,215.0,14.1148,0,0,0
12,12,0,4,0,2,3022.01,216.0,14.0184,0,0,3
13,13,4,0,0,2,3028.72,215.0,14.1148,0,0,0
14,14,0,4,0,2,3022.01,215.0,14.0836,0,0,1
15,15,4,0,0,2,3028.72,215.5,14.0820,0,0,1
16,16,0,4,0,2,3022.01,215.0,14.0836,0,0,1
17,17,4,0,0,2,3028.72,216.5,14.0170,0,0,3
18,18,0,4,0,2,3022.01,216.0,14.0184,0,0,3
19,19,4,0,0,2,3028.72,215.5,14.0820,0,0,1

In [87]:
# at time 300
edge_df = read_edge_file(config['SAVE_PATH'],300)
edge_df

    eid  u  v  upstream_count  downstream_count  average_travel_time(s)
0     0  0  2               0                 0                    -1.0
1     4  0  3              26                26                    64.0
2     2  1  2               0                 0                    -1.0
3     1  2  0               0                 0                    -1.0
4     3  2  1               0                 0                    -1.0
5     6  2  3              25                25                    61.5
6     8  2  4              26                26                    89.0
7     5  3  0              25                25                    65.0
8     7  3  2              26                26                    61.5
9    10  3  4               0                 0                    -1.0
10    9  4  2              25                25                    88.5
11   11  4  3               0                 0                    -1.0

### Different ODs

In [92]:
os = [0,4,1,2]
ds = [4,0,3,0]
start = 0 
duration = 100 
interval = 1
od1 = mixed_od(os,ds,start,interval,duration)
od2 = uniform_od(1,4,start,interval,duration)

combined_od = od1.append(od2, ignore_index=True)
combined_od.to_csv(config['NETWORK_PATH']+'od.csv')
!'/tmp/tmp.t97Pt7Cago/cmake-build-debug-office_server/microsim'

reading graph osm
total edges = 6
# of edges: 12
# of vertices: 5
Generating contraction hierarchies with 16 threads.
Setting CH node vector of size 5
Setting CH edge vector of size 12
Range graph removed 12 edges of 24
. 10% . 20% . 30% . 40% . 50% . 60% . 70% . 80%  100%
. 90% . 100% [TIME] Started: <Microsimulation_in_GPU>.
Traffic person vec size = 202
EdgesData size = 24
LaneMap size = 49152
Intersections size = 5
GPU memory usage: used = 504, free = 10512 MB, total = 11016 MB
Running trafficSimulation with the following configuration:
>  Number of people: 202
>  Number of blocks: 1
>  Number of threads per block: 384
Running main loop from 0 to 0.0833333 with 202person...
>>Simulation Ended

In [93]:
# at time 10
agent_df = read_agent_file(config['SAVE_PATH'],10)
agent_df.head()

,aid,ori,dest,type,status,travel_dist(m),travel_time(s),ave_speed(m/s),num_slowdown,num_lane_change,num_in_queue
0,0,0,4,0,1,25.1343,9.5,2.78494,0,0,0
1,1,4,0,0,1,25.1019,9.5,2.78098,0,0,0
2,2,1,3,0,1,20.1220,8.5,2.50653,0,0,0
3,3,2,0,0,1,20.1230,8.5,2.50667,0,0,0
4,4,0,4,0,1,15.6663,7.5,2.22808,0,0,0

In [94]:
# at time 10
edge_df = read_edge_file(config['SAVE_PATH'],10)
edge_df

    eid  u  v  upstream_count  downstream_count  average_travel_time(s)
0     0  0  2               0                 0                      -1
1     4  0  3               5                 0                      -1
2     2  1  2              15                 0                      -1
3     1  2  0               0                 0                      -1
4     3  2  1               0                 0                      -1
5     6  2  3               5                 0                      -1
6     8  2  4               0                 0                      -1
7     5  3  0               0                 0                      -1
8     7  3  2               0                 0                      -1
9    10  3  4               0                 0                      -1
10    9  4  2               5                 0                      -1
11   11  4  3               0                 0                      -1

In [95]:
# at time 300
agent_df = read_agent_file(config['SAVE_PATH'],300)
agent_df.head(20)

,aid,ori,dest,type,status,travel_dist(m),travel_time(s),ave_speed(m/s),num_slowdown,num_lane_change,num_in_queue
0,0,0,4,0,2,3022.01,215.0,14.0836,0,0,1
1,1,4,0,0,2,3028.72,215.0,14.1148,0,0,0
2,2,1,3,0,2,3010.00,166.0,18.1676,0,2,5
3,3,2,0,0,2,2017.42,125.5,16.1436,0,0,0
4,4,0,4,0,2,3017.51,215.5,14.0300,1,0,1
5,5,4,0,0,2,3028.72,217.0,13.9847,0,0,4
6,6,1,3,0,2,3023.31,164.0,18.4889,0,2,1
7,7,2,0,0,2,2017.42,125.5,16.1436,0,0,0
8,8,0,4,0,2,3018.63,216.5,13.9704,1,0,1
9,9,4,0,0,2,3028.72,216.5,14.0170,0,0,3
10,10,1,3,0,2,3023.31,163.5,18.5455,0,1,0
11,11,2,0,0,2,2017.42,125.5,16.1436,0,0,0
12,12,0,4,0,2,3021.30,219.5,13.7643,0,0,9
13,13,4,0,0,2,3028.72,215.5,14.0820,0,1,1
14,14,1,3,0,2,3023.31,164.0,18.4889,0,1,1
15,15,2,0,0,2,2017.42,125.5,16.1436,0,0,0
16,16,0,4,0,2,3018.30,217.0,13.9229,0,0,5
17,17,4,0,0,2,3028.72,215.0,14.1148,0,0,0
18,18,1,3,0,2,3010.00,166.5,18.1130,0,1,6
19,19,2,0,0,2,2017.42,125.5,16.1436,0,0,0

In [96]:
# at time 300
edge_df = read_edge_file(config['SAVE_PATH'],300)
edge_df

    eid  u  v  upstream_count  downstream_count  average_travel_time(s)
0     0  0  2               0                 0                    -1.0
1     4  0  3              26                26                    64.0
2     2  1  2             126               126                   102.0
3     1  2  0               0                 0                    -1.0
4     3  2  1               0                 0                    -1.0
5     6  2  3              75                75                    61.0
6     8  2  4             127               127                    89.0
7     5  3  0              50                50                    65.0
8     7  3  2              26                26                    61.5
9    10  3  4               0                 0                    -1.0
10    9  4  2              25                25                    88.5
11   11  4  3               0                 0                    -1.0

### Same time pressure test

In [97]:
def same_time_od(o,d,num_agents):
    origins = [o]*num_agents
    dests = [d]*num_agents
    dep_time = [0]*num_agents
    
    df = {'origin':origins,
         'destination':dests,
         'dep_time':dep_time}
    
    return pd.DataFrame.from_dict(df)

In [103]:
od = same_time_od(0,4,10)
od.to_csv(config['NETWORK_PATH']+'od.csv')
!'/tmp/tmp.t97Pt7Cago/cmake-build-debug-office_server/microsim'

reading graph osm
total edges = 6
# of edges: 12
# of vertices: 5
Generating contraction hierarchies with 16 threads.
Setting CH node vector of size 5
Setting CH edge vector of size 12
Range graph removed 12 edges of 24
. 10% . 20% . 30% . 40% . 50% . 60% . 70% . 80%  100%
. 90% . 100% [TIME] Started: <Microsimulation_in_GPU>.
Traffic person vec size = 10
EdgesData size = 24
LaneMap size = 49152
Intersections size = 5
GPU memory usage: used = 504, free = 10512 MB, total = 11016 MB
Running trafficSimulation with the following configuration:
>  Number of people: 10
>  Number of blocks: 1
>  Number of threads per block: 384
Running main loop from 0 to 0.0833333 with 10person...
>>Simulation Ended

In [104]:
# at time 10
agent_df = read_agent_file(config['SAVE_PATH'],10)
agent_df.head()

,aid,ori,dest,type,status,travel_dist(m),travel_time(s),ave_speed(m/s),num_slowdown,num_lane_change,num_in_queue
0,0,0,4,0,1,25.1343,9.5,2.78494,0,0,0
1,1,0,4,0,1,25.1343,9.5,2.78494,0,0,0
2,2,0,4,0,1,25.1343,9.5,2.78494,0,0,0
3,3,0,4,0,1,25.1343,9.5,2.78494,0,0,0
4,4,0,4,0,1,25.1343,9.5,2.78494,0,0,0

In [105]:
# at time 300
agent_df = read_agent_file(config['SAVE_PATH'],300)
agent_df.head()

,aid,ori,dest,type,status,travel_dist(m),travel_time(s),ave_speed(m/s),num_slowdown,num_lane_change,num_in_queue
0,0,0,4,0,2,3012.10,218.5,13.6473,0,0,0
1,1,0,4,0,2,3012.81,218.0,13.7094,0,1,0
2,2,0,4,0,2,3006.81,217.0,13.7726,0,2,0
3,3,0,4,0,2,3007.52,216.5,13.8353,0,0,0
4,4,0,4,0,2,3022.29,218.5,13.7217,0,0,1

In [2]:
import numpy as np

In [10]:
0.1*np.log2(0.1)+0.2*np.log2(0.2)+0.3*np.log2(0.3)+0.4*np.log2(0.4)

-1.8464393446710154

In [18]:
def entropy(prob):
    return prob*np.log2(prob)

entropy(15/24)+entropy(9/24)

-0.9544340029249649

In [13]:
np.log2(100)

6.643856189774724

In [21]:
1.46-0.918

0.5419999999999999